@charset "UTF-8";
body {
  margin: 0;
  overflow: hidden;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.175rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h6 {
  margin-top: .5rem;
}

p {
  color: #1b1b1b;
  font-weight: 300;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: #000000;
}
a:hover {
  color: #000000;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  h2, h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 2rem;
  }

  html {
    font-size: calc(100vw / 46.875);
  }

  p {
    font-size: 2rem;
  }

  address {
    font-size: 2rem;
  }
}
body {
  font-size: 16px;
}

/*
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
  font-family: "vdl-v7mincho", "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "vdl-v7mincho", sans-serif;
  letter-spacing: 1px;
}
*/
/** TOP **/
.top {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg_image.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top .tree-box {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 757px;
  height: 100%;
  margin-left: -378.5px;
}
.top .tree-box .induction-box {
  position: absolute;
  top: 59%;
  left: -3%;
  width: 219px;
  z-index: 20;
}
.top .tree-box .induction-box .text-image {
  width: 100%;
  height: auto;
}
.top .tree-box .induction-box .arrow-image-box {
  width: 100%;
  height: auto;
  text-align: right;
}
.top .tree-box .induction-box .arrow-image-box .arrow-image {
  width: auto;
  height: 80px;
}
.top .tree-box .tree-position {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  margin: auto;
  z-index: 10;
}
.top .tree-box .present-box {
  position: absolute;
  top: 62%;
  left: 31%;
  width: 102px;
  height: 108px;
  margin-left: -30px;
  z-index: 20;
}
.top .tree-box .present-box:hover {
  cursor: pointer;
}
.top .tree-box .present-box.rotation {
  top: 87%;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-animation: spin 1.5s linear 1;
  animation: spin 1.5s linear 1;
  opacity: 0;
}
.top .santa-box {
  position: fixed;
  left: 3000px;
  bottom: 0;
  z-index: 9999;
}

/** プレゼントBOX（結果）ページ **/
.animation {
  position: relative;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#e6b422, #a4a194);
}
.animation .star {
  animation: kirakira 8s linear;
  color: yellow;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  position: fixed;
  top: -1em;
  z-index: 1000;
}
.animation .present-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 429px;
  height: 440px;
  margin: auto;
}
.animation .present-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.animation .present-box img.open-box {
  opacity: 0;
}
.animation .result-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 800px;
  margin: auto;
}
.animation .result-box .result-item {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000000;
  opacity: 0;
}
.animation .result-box .result-item img {
  width: 100%;
  height: 100%;
}
.animation .result-box .result-item .frame-box {
  position: absolute;
  bottom: 0;
  display: table;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.9);
}
.animation .result-box .result-item .frame-box p {
  display: table-cell;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

/** 中間のアニメーション **/
.back {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg_image.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.back .house-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 416px;
  height: 350px;
  margin: auto;
  z-index: 9999;
}
.back .santa-box {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
}
.back .santa-box .present-box {
  position: absolute;
  top: 160px;
  right: 50px;
  width: 58px;
  height: auto;
  opacity: 1;
  z-index: -1;
}
.back .santa-box .present-box.rotation {
  top: 4000px;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  opacity: 0;
}

/** プレゼント結果ページ **/
.present-out {
  position: relative;
  width: 100%;
  height: 80vh;
}
.present-out .tree-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.time {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/** プレゼントの回転の設定 **/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes kirakira {
  0% {
    -webkit-transform: translateY(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 1em)) rotateY(3600deg);
  }
}
@keyframes kirakira {
  0% {
    transform: translateY(0) rotateY(0);
  }
  100% {
    transform: translateY(calc(100vh + 1em)) rotateY(3600deg);
  }
}
.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
}

.fs17 {
  font-size: 17px;
}

.fs18 {
  font-size: 18px;
}

.fs19 {
  font-size: 19px;
}

.fs20 {
  font-size: 20px;
}

.fs21 {
  font-size: 21px;
}

.fs22 {
  font-size: 22px;
}

.fs23 {
  font-size: 23px;
}

.fs24 {
  font-size: 24px;
}

.ti-1em {
  display: block;
  text-indent: 1em;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pt90 {
  padding-top: 90px;
}

.pt100 {
  padding-top: 100px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb90 {
  padding-bottom: 90px;
}

.pb100 {
  padding-bottom: 100px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt2-5rem {
  margin-top: 2.5rem;
}

.ds-inline {
  display: inline;
}

.ds-ib {
  display: inline-block;
}

.bc-white {
  background-color: #ffffff;
}

.bc-black {
  background-color: #000000;
}

.bc-skyblue {
  background-color: #87ceeB;
}

.th-bc-skyblue {
  background-color: #87ceeB !important;
}

.th-bc-green {
  background-color: #70c469 !important;
}

.boxs-gray {
  box-shadow: 2px 2px 4px #bcbdbf;
}

.color-yg {
  color: #34bba6;
}

.color-skb {
  color: #87ceeB;
}

.color-black {
  color: #1b1b1b;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.bg-stripe-gray {
  background: repeating-linear-gradient(-45deg, #e6e4e0, #e6e4e0 2.5px, #d7d5d2 2.5px, #d7d5d2 5px);
}

.list-color-blue {
  color: #3cf !important;
}

.w100per {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w80 {
  width: 80%;
}

.w70 {
  width: 70%;
}

.w60 {
  width: 60%;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.w30 {
  width: 30%;
}

.w20 {
  width: 20%;
}

.w10 {
  width: 10%;
}

.h100 {
  height: 100px;
}

.position-reative {
  position: relative;
}

p.text-emphasis {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 48px;
}

@media only screen and (max-width: 767px) {
  .sp-pl0 {
    padding-left: 0;
  }

  .sp-pr0 {
    padding-right: 0;
  }

  .sp-mt20 {
    margin-top: 20px;
  }

  .sp-mb20 {
    margin-bottom: 20px;
  }

  .sp-mb30 {
    margin-bottom: 30px;
  }

  .sp-none {
    display: none;
  }

  .sp-d-inline {
    display: inline;
  }

  .sp-ml0 {
    margin-left: 0;
  }

  .sp-mr0 {
    margin-right: 0;
  }

  p.text-emphasis {
    font-size: 2.75rem;
    margin-bottom: 47px;
  }
}
@media only screen and (max-width: 576px) {
  p.text-emphasis {
    font-size: 2.75rem;
    margin-bottom: 23.5px;
  }
}
