@charset "UTF-8";
body {
  margin: 0;
  overflow: hidden;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.175rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h6 {
  margin-top: .5rem;
}

p {
  color: $text_default_color;
  font-weight: 300;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: #000000;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

@media only screen and (max-width: 767px) {
  
  h2, h3 {
    font-size: 2.5rem;
  }
  
  h4 {
    font-size: 2rem;
  }
  
  h5 {
    font-size: 2rem;
  }
  
  h6 {
    font-size: 2rem;
  }
  
  html {
    font-size: calc(100vw / 46.875); // 1rem = 8px;
  }
  
  p {
    font-size: 2rem;
  }
  
  address {
    font-size: 2rem;
  }
}
