@charset "UTF-8";
body {
	font-size: 16px;
}
/*
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
  font-family: "vdl-v7mincho", "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "vdl-v7mincho", sans-serif;
  letter-spacing: 1px;
}
*/
