@charset "UTF-8";

/** TOP **/
.top {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg_image.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  .tree-box {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 757px;
    height: 100%;
    margin-left: -378.5px;
    .induction-box {
      position: absolute;
      top: 59%;
      left: -3%;
      width: 219px;
      z-index: 20;
      .text-image {
        width: 100%;
        height: auto;
      }
      .arrow-image-box {
        width: 100%;
        height: auto;
        text-align: right;
        .arrow-image {
          width: auto;
          height: 80px;
        }
      }
    }
    .tree-position {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: auto;
      height: 100%;
      margin: auto;
      z-index: 10;
    }
    .present-box {
      position: absolute;
      top: 62%;
      left: 31%;
      width: 102px;
      height: 108px;
      margin-left: -30px;
      z-index: 20;
      &:hover {
        cursor: pointer;
      }
      &.rotation {
        top: 87%;
        -webkit-transition: all 2s ease-in-out;
        transition: all 2s ease-in-out;
        -webkit-animation: spin 1.5s linear 1;
        animation: spin 1.5s linear 1;
        opacity: 0;
      }
    }
  }
  .santa-box {
    position: fixed;
    left: 3000px;
    bottom: 0;
    z-index: 9999;
  }
}

/** プレゼントBOX（結果）ページ **/
.animation {
  position: relative;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#e6b422, #a4a194);
  .star {
    animation: kirakira 8s linear;
    color: yellow;
    display: inline-block;
    height: 1em;
    line-height: 1em;
    position: fixed;
    top: -1em;
    z-index: 1000;
  }
  .present-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 429px;
    height: 440px;
    margin: auto;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      &.open-box {
        opacity: 0;
      }
    }
  }
  .result-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 800px;
    height: 800px;
    margin: auto;
    .result-item {
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: #000000;
      opacity: 0;
      img {
        width: 100%;
        height: 100%;
      }
      .frame-box {
        position: absolute;
        bottom: 0;
        display: table;
        width: 100%;
        height: 110px;
        background-color: rgba(0, 0, 0, 0.9);
        p {
          display: table-cell;
          width: 100%;
          height: 100%;
          font-size: 30px;
          font-weight: bold;
          line-height: 1;
          color: #fff;
          vertical-align: middle;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

/** 中間のアニメーション **/
.back {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg_image.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  .house-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 416px;
    height: 350px;
    margin: auto;
    z-index: 9999;
  }
  .santa-box {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    .present-box {
      position: absolute;
      top: 160px;
      right: 50px;
      width: 58px;
      height: auto;
      opacity: 1;
      z-index: -1;
      &.rotation {
        top: 4000px;
        -webkit-transition: all 10s ease-in-out;
        transition: all 10s ease-in-out;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
        opacity: 0;
      }
    }
  }
}


/** プレゼント結果ページ **/
.present-out {
  position: relative;
  width: 100%;
  height: 80vh;
  .tree-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.time {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/** プレゼントの回転の設定 **/
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

@-webkit-keyframes kirakira {
  0% {-webkit-transform:translateY(0) rotateY(0);}
  100% {-webkit-transform:translateY(calc(100vh + 1em)) rotateY(3600deg);}
}

@keyframes kirakira {
    0% {transform:translateY(0) rotateY(0);}
  100% {transform:translateY(calc(100vh + 1em)) rotateY(3600deg);}
}

