@charset "UTF-8";
// font-size
.fs11{font-size: 11px;}
.fs12{font-size: 12px;}
.fs13{font-size: 13px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}
.fs17{font-size: 17px;}
.fs18{font-size: 18px;}
.fs19{font-size: 19px;}
.fs20{font-size: 20px;}
.fs21{font-size: 21px;}
.fs22{font-size: 22px;}
.fs23{font-size: 23px;}
.fs24{font-size: 24px;}

// text-indent
.ti-1em{
  display: block;
  text-indent: 1em;
}

// padding
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pt60{padding-top: 60px;}
.pt70{padding-top: 70px;}
.pt80{padding-top: 80px;}
.pt90{padding-top: 90px;}
.pt100{padding-top: 100px;}
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb60{padding-bottom: 60px;}
.pb70{padding-bottom: 70px;}
.pb80{padding-bottom: 80px;}
.pb90{padding-bottom: 90px;}
.pb100{padding-bottom: 100px;}
// margin
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}
.mt2-5rem{margin-top: 2.5rem;}

// display 
.ds-inline {display: inline;}
.ds-ib {display: inline-block;}

// background-color
.bc-white{background-color: #ffffff;}
.bc-black{background-color: #000000;}
.bc-skyblue{background-color: $table_color_blue;}
.th-bc-skyblue{background-color: $table_color_blue !important;}
.th-bc-green{background-color: $table_color_green !important;}

// boxshadow
.boxs-gray{box-shadow: 2px 2px 4px $school_base_color_gray;}

// color
.color-yg{color: $school_base_color_yellowgreen;}
.color-skb{color: $table_color_blue;}
.color-black{color: $text_default_color;}

// font-weight
.font-weight-500{font-weight: 500 !important;}

// 背景ストライプ
.bg-stripe-gray {background: repeating-linear-gradient(-45deg, #e6e4e0, #e6e4e0 2.5px, #d7d5d2 2.5px, #d7d5d2 5px);}

// リストカラー
.list-color-blue{color: $list_default_color !important;}

// image width
.w100per{width: 100%;}
.w90{width: 90%;}
.w80{width: 80%;}
.w70{width: 70%;}
.w60{width: 60%;}
.w50{width: 50%;}
.w40{width: 40%;}
.w30{width: 30%;}
.w20{width: 20%;}
.w10{width: 10%;}

// height
.h100{height: 100px;}

// position
.position-reative{position: relative;}

// 強調
p.text-emphasis {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 48px;
}

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@media only screen and (max-width: 767px) {
  .sp-pl0{padding-left: 0;}
  .sp-pr0{padding-right: 0;}
  
  .sp-mt20{margin-top: 20px;}
  .sp-mb20{margin-bottom: 20px;}
  .sp-mb30{margin-bottom: 30px;}
  
  .sp-none{display: none;}
  .sp-d-inline{display: inline;}
  
  .sp-ml0{margin-left: 0;}
  .sp-mr0{margin-right: 0;}
  
  p.text-emphasis {
    font-size: 2.75rem;
    margin-bottom: 47px;
  }
}

@media only screen and (max-width: 576px) {
  p.text-emphasis {
    font-size: 2.75rem;
    margin-bottom: 23.5px;
  }
}
