@charset "UTF-8";
// 学校テーマカラー
$school_color: #18368e;

// 各部門テーマカラー
$theme_color_college: #008a7c; // 聖学院大学
$theme_color_graduate: #387351; // 聖学院大学院 
$theme_color_g_college: #005738; // 女子聖学院
$theme_color_jhs_hs: #014099; // 聖学院中高
$theme_color_elementary: #005738; // 聖学院小学校
$theme_color_kinder: #c32c30; // 聖学院幼稚園
$theme_color_midori_kinder: #005738; // 聖学院みどり幼稚園
$theme_color_seigresearch: #008a7c; // 総合研究所

$theme_color_corporation: #0e3192; // 法人
$theme_color_pressrelease: #ed8516; // プレスリリース
$theme_color_recruit: #169fed; // 採用情報
$theme_color_topics: #c7d52c; // TOPICS
$theme_color_education_org: #0eac55; // 教育機関

$theme_color_society_news: #9072cf; // 社会貢献
$theme_color_vision_news: #b34950; // 学院ビジョン

// テキストデフォルトカラー
$text_default_color: #1b1b1b;

// ベースカラー
$school_base_color_blue: #014099;
$school_base_color_gray: #bcbdbf;
$school_base_color_lightgray: #f1eeee;
$school_base_color_yellowgreen: #34bba6;

// 下層見出しのデフォルトカラー
$lower_ttl_default_color: $school_base_color_yellowgreen;

// テーブルデフォルトカラー
$table_default_color: #69c494;
// テーブルカラー
$table_color_blue: #87ceeB;
$table_color_green: #70c469;
// テーブルテキストカラー
$table_text_color: #393939;

// dlをテーブルレイアウト時のカラー
$dl_border_color: #dddddd;

// リストカラー
$list_default_color: #3cf;
// リストテキストカラー
$list_text_color: #666;

// ボーダーカラー
$border_base_color: #d8d6d6;
$link_hover_color: #d3f2ed;
$recruitInfo_link_color: #19d2c1;

// 下層 各要素余白の設定
$contents_lr: 46px;
// h1
$ttl1_pt: 22px;
$ttl1_mb: 33px;
// h2
$ttl2_mb: 68px;
// h3
$ttl3_pl: 58px;
$ttl3_before_w: 41px;
// h4
$ttl4_mt: 37px;
$ttl4_pl: 53px;
$ttl4_before_w: 33px;
//パンくずリスト
$breadcrumb_mb: 27px;
$breadcrumb_list_pl: 16px;
$breadcrumb_list_pr: 22px;
$breadcrumb_link_after_h: 14px;
$breadcrumb_link_after_mt: -7px;

// サイドバー
$sidebar_mt: 76px;
$sidebar_plr: 41px;
